.days-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.day-button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.day-button:hover {
    background-color: #c0c0c0;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 0;
    background-color: #fff;
}

.movie-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 280px;
}

.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    color: #333;
}

.movie-times {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 2px solid #eee;
    
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie-times button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin: 5px;
}

.movie-times button:hover {
    background-color: #0056b3;
}